<%- include ('partials/header.ejs') %>

<div class="container my-5">
    <div class="text-center text-white">
        <h1 class="display-4"><strong>Bem-vindo à Galeria de Filmes JakMovies!</strong></h1>
        <p class="lead"><strong>Explore e administre seus filmes favoritos em um só lugar.</strong></p>
        <hr>
        <div class="mt-4">
            <a href="/imagens" class="btn btn-outline-warning btn-lg shadow-lg text-white px-5 py-3">Adicionar um filme</a>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
